.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ---------------------------------------- */
.responsive-image { 
   width: 100%; 
    height: auto;
   } 
.cards{
  width:194px;
  height: 250px;
  position: sticky;
  float: left;
  margin:50px;
  margin-bottom: 250px;
  /* background-color: red; */
  border-radius:10px;
  text-align: center;

  }   


  .cropped1 {
    /* width: 200px; width of container */
    height: 200px; /* height of container */
    object-fit: cover;
    
    /* border: 5px solid black; */
}
.checkoutButton{
  position: relative;
  float:right;
  width:210px;
  background-color: rgb(76, 155, 31);
  border-color: gray;
  /* top:400px; */
  margin:10px;
}

.cancelButton{
  position: relative;
  float:right;
  top:140px;
  margin:10px;
  
}
.row{
  height: 80%;
}
.cropped2{
   width: 300px; /*width of container */
   height: 200px; /* height of container */
   object-fit: cover;
   position: relative;
   float: left;
   /* top:300px; */
   margin:10px;
}

/* .margin{
  margin-top: 100px;
} */



.card-body:hover{
  /* width:100px; */
  /* height: 250px; */
  transform: scale(1.1);
}
.overlay {
  /* display: none; */
  z-index: 100;
  padding: 1rem;
  border: 1px solid #cacaca;
  background-color: white;
  border-radius: 10px;
  position: fixed;
  top: 17%;
  left: 11%;
  margin-left: auto;
  margin-right: auto;
  height: 70%;
  width: 70%;
    /* max-width: 75rem; */
  /* overflow-y: auto; */
}
.Tripbackgroud{
  z-index: 10;
  position: fixed;
width:100%;
height: 100%;
top: 0%;
right:0%;
/* right:100px; */
opacity: 0.8;
background-color: gray;


}